@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #1a1a1c;
  color: #fff;
}

.page {
  margin-bottom: 6rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem;
  color: #fff;
}

.container h1 {
  font-size: 3rem;
  padding: 1rem;
  text-transform: capitalize;
}

input[type=text] {
  border: none;
  outline: none;
  border-radius: 1rem;
  width: 30rem;
  height: 3rem;
  color: #e2e2e2;
  font-size: 1.6rem;
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );
  padding-left: 1rem;
}

input[type=text]::placeholder {
  color: #e2e2e2;
}
